.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/.gradle/
android/app/key.properties
ios/Pods/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
web/.dart_tool/
windows/flutter/ephemeral/
**/Generated.xcconfig
**/Flutter.podspec
**/flutter_export_environment.sh
.DS_Store
*.log

# Local Android SDK config
**/local.properties

# Android signing keys
android/app/debug.keystore
*.jks
*.keystore

# IDE module files (sometimes generated)
*.iml
